@import '../../../../src/styles.scss';

.level-wrapper {
  margin-bottom: 1em;
}

.grade-level-button {
  border: 1px solid transparent;

  &:not(:first-of-type){
    margin-left: 0.25em;
  }
  &.selected {
    background-color: $blue;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
  }  
}
