.grade-level-button:not(:first-of-type){
    margin-left: 0.25em;
    }
    
    
button.grade-level-button.selected {
    background-color: green;
    border: 1px solid #f5f5f5;
    color: #000;
    }
