// $primary-color: #546E7A;

$mat-httat-palette-primary: (
  50: #cecbf4,
  100: #aea9ec,
  200: #8e86e4,
  300: #6d63dd,
  400: #5d52d9,
  500: #544ac3,
  600: #4a42ae,
  700: #413998,
  800: #2f296d,
  900: #252157,
  // A100: #7895a2,
  // A200: #698998,
  // A400: #5e7c89,
  // A700: #4a606b,
);

$mat-httat-palette-secondary: (
  50: #eff2f3,
  100: #cfd8dc,
  200: #b0bec5,
  300: #90a4ae,
  400: #708a97,
  500: #607d8b,
  600: #4d646f,
  700: #3a4b53,
  800: #263238,
  900: #13191c,
  // A100: #d5d5d5,
  // A200: #aaaaaa,
  // A400: #303030,
  // A700: #616161,
);

$mat-httat-palette-accent: (
  50: #e6fff1,
  100: #b3ffd6,
  200: #99ffc8,
  300: #66ffac,
  400: #33ff91,
  500: #00FF75,
  600: #00cc5e,
  700: #009946,
  800: #00662f,
  900: #003317,
  // A100: #80d8ff,
  // A200: #40c4ff,
  // A400: #00b0ff,
  // A700: #0091ea,
);

$mat-httat-palette-warn: (
  50: #feeeed,
  100: #fbcdc8,
  200: #f8aca3,
  300: #f58b7e,
  400: #f26a59,
  500: #f15946,
  600: #c14738,
  700: #91352a,
  800: #792d23,
  900: #481b15,
  // A100: #ffe57f,
  // A200: #ffd740,
  // A400: #ffc400,
  // A700: #ffab00,
);
