/* You can add global styles to this file, and also import other style files */
@import 'themes';

:root {
  --override--selected-bg-color: blue;
  // $override: (
  //   "selected-bg-color": blue,

  // );
  // $override--selected-bg-color: blue;
  // $override--selected-fg-color: white;  
}

html{
  background: #111;
  color: #ccc;
}