/* You can add global styles to this file, and also import other style files */
html {
  background: #111;
  color: #ccc;

  body {
    margin: 0;

    .error-message {
      font-size: 0.8rem;
      position: relative;
      top: -1.5em;

      &:not(.visible) {
        color: transparent;
      }
      &.visible {
        color: red;
      }
    }
  }
}